@model Livro
<div class="row justify-content-md-center">
    <form asp-action="Cadastro" method="POST" class="col-md-4">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Titulo">Titulo</label>
            <input asp-for="Titulo" class="form-control" id="Titulo" required/>
        </div>
        <div class="form-group">
            <label asp-for="Autor">Autor</label>
            <input asp-for="Autor" class="form-control" id="Autor" required/>
        </div>
        <div>
            <label asp-for="Ano">Ano</label>
            <input asp-for="Ano" class="form-control" id="Ano" required />
        </div>
        
        <button class="btn btn-primary" >Salvar</button>
    </form>
   
</div>

 <p style="text-align: center; color: red;" id="alert">Por favor entregar os livros do mesmo estado quando emprestado.</p>
 
<script src="site.js"></script>

